Trang danh sách bài viết của admin
<div class="container">
    <div class="row">

        <div class="col-md-8 col-sm-6 col-xs-12">
            <div>
                <div>
                    {{.post.Title}}
                </div>
                <hr />
                <div>
                    {{.post.Content}}
                </div>
                <hr />
                <div>{{.post.CreatedBy}}</div>
                <hr />
                <div>{{.post.CreatedAt}}</div>
                <hr />
                <div>{{.post.Status}}</div>
            </div>
        </div>
    </div>
</div>